mixin user-info(options)
  - const { name, job, theme } = options;
  - const bgColor = theme ? `user-info user-info_${theme}` : "user-info";
  - const userName = theme ? `user-info__name user-info__name_${theme}` : "user-info__name";
  - const userJob = theme ? `user-info__job user-info__job_${theme}` : "user-info__job";
  - const fbItemsColor = theme ? `user-info__link user-info__link_fb_${theme}` : "user-info__link user-info__link_fb";
  - const twItemsColor = theme ? `user-info__link user-info__link_tw_${theme}` : "user-info__link user-info__link_tw";
  - const dbItemsColor = theme ? `user-info__link user-info__link_db_${theme}` : "user-info__link user-info__link_db";

  div(class=bgColor)
    h2(class=userName)= name
    p(class=userJob)= job
    ul.user-info__links
      li(class=fbItemsColor)
      li(class=twItemsColor)
      li(class=dbItemsColor)