include ../standard-button/standard-button

mixin event(content)
  - const { color, day, month, title, text, imgPath } = content
  .event
    img.event__image(src=imgPath, alt="")
    div(class=`event__block event__block_color_${color}`)
      h2.event__date= day
        span.event__month= month
      p.event__title= title 
      p.event__text= text
      .event__button
        +standard-button({ color: "darkgreen", size: "custom", type: "button", title: "Add to calendar" })