include ../standart-button/button

mixin eventItem(content)
	.event
		img.event__image(src=content.imgPath, alt="")
		div(class=`event__block event__block_${content.color}`)
			h2.event__date= content.day
				span.event__month= content.month
			p.event__title= content.title 
			p.event__text= content.text
			.event__button-wrap
				+stdButton({color: "darkgreen", size: "custom", type: "button", title: "Add to calendar"})