include ../standart-button/button

mixin eventItem(content)
	-var classes = "event__block event__block_" + content.color
	div(class="event")
		img(class="event__image", src=content.imgPath, alt="")
		div(class=classes)
			h2(class="event__date")= content.day
				span(class="event__month")= content.month
			p(class="event__title")= content.title 
			p(class="event__text")= content.text
			.event__button-wrap
				+stdButton({color: "darkgreen", size: "custom", type: "button", title: "Add to calendar"})